.page-status-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &-toast {
    width: 0;
    height: 0;
  }

  .pages-status-error-wrap {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #666;

    .pages-status-error-text {
      margin-top: 24px;
    }
  }
}
